<a href="https://colab.research.google.com/github/AnthonyJFeola/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# Import Pandas and Numpy.
import pandas as pd
import numpy as np

In [315]:
# Retrieve content from web.
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-21 07:24:44--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [            <=>     ]  21.72M   419KB/s    in 54s

2020-01-21 07:25:38 (414 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [316]:
# Extract .csv file from the zipped folder.
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [317]:
# Read in .csv file while setting the first row as the header, skipping the last
# two rows that are creating two NaNs at the bottom of each column, and set
# interpreter to Python.
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
# Display first five rows
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [318]:
# Display last 5 rows.
df.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128392 NaN        NaN  ...                    NaN              NaN
128393 NaN        NaN  ...                    NaN              NaN
128394 NaN        NaN  ...                    NaN              NaN
128395 NaN        NaN  ...                    NaN              NaN
128396 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [319]:
# Display dataset shape.
df.shape

(128397, 144)

In [320]:
# Increase display range to show the sum of NaNs in every column of the dataset
# in ascending order.
pd.set_option('display.max_rows', 200)
df.isnull().sum().sort_values(ascending=True)

inq_fi                                             0
delinq_amnt                                        0
chargeoff_within_12_mths                           0
acc_open_past_24mths                               0
inq_last_12m                                       0
total_cu_tl                                        0
total_rev_hi_lim                                   0
max_bal_bc                                         0
open_rv_24m                                        0
open_rv_12m                                        0
total_bal_il                                       0
open_il_24m                                        0
hardship_flag                                      0
open_act_il                                        0
open_acc_6m                                        0
tot_cur_bal                                        0
tot_coll_amt                                       0
acc_now_delinq                                     0
application_type                                   0
policy_code                                        0
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
total_il_high_credit_limit                         0
total_bc_limit                                     0
total_bal_ex_mort                                  0
tot_hi_cred_lim                                    0
tax_liens                                          0
pub_rec_bankruptcies                               0
pct_tl_nvr_dlq                                     0
num_tl_op_past_12m                                 0
num_tl_90g_dpd_24m                                 0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_rev_tl_bal_gt_0                                0
num_rev_accts                                      0
num_op_rev_tl                                      0
num_il_tl                                          0
num_bc_tl                                          0
num_bc_sats                                        0
num_actv_rev_tl                                    0
num_actv_bc_tl                                     0
num_accts_ever_120_pd                              0
num_sats                                           0
last_pymnt_amnt                                    0
open_il_12m                                        0
debt_settlement_flag                               0
pub_rec                                            0
open_acc                                           0
grade                                              0
sub_grade                                          0
home_ownership                                     0
inq_last_6mths                                     0
annual_inc                                         0
verification_status                                0
earliest_cr_line                                   0
delinq_2yrs                                        0
issue_d                                            0
addr_state                                         0
zip_code                                           0
title                                              0
loan_status                                        0
pymnt_plan                                         0
installment                                        0
revol_bal                                          0
term                                               0
collection_recovery_fee                            0
loan_amnt                                          0
recoveries                                         0
total_rec_late_fee                                 0
funded_amnt                                        0
funded_amnt_inv                                    0
total_acc                                          0
total_rec_int                                      0
purpose                                            0
total_rec_prncp                                    0
total_pymnt_inv                                    0
total_pymnt                                        0
out_prncp_inv                                      0
out_prncp                                          0
initial_list_status                                0
int_rate                                           0
last_credit_pull_d                                 1
avg_cur_bal                                       13
all_util                                          37
revol_util                                       156
last_pymnt_d                                     159
dti                                              237
mths_since_recent_bc                            1591
bc_open_to_buy                                  1691
percent_bc_gt_75                                1692
bc_util                                         1754
num_tl_120dpd_2m                                2859
mths_since_rcnt_il                              4478
mo_sin_old_il_acct                              4478
emp_length                                     11701
mths_since_recent_inq                          16047
il_util                                        20274
emp_title                                      20942
next_pymnt_d                                   26736
mths_since_last_delinq                         72190
mths_since_recent_revol_delinq                 91620
mths_since_last_major_derog                    99223
mths_since_recent_bc_dlq                      103232
sec_app_open_acc                              111619
sec_app_mort_acc                              111619
sec_app_inq_last_6mths                        111619
sec_app_earliest_cr_line                      111619
revol_bal_joint                               111619
sec_app_open_act_il                           111619
annual_inc_joint                              111619
dti_joint                                     111619
sec_app_collections_12_mths_ex_med            111619
sec_app_chargeoff_within_12_mths              111619
sec_app_num_rev_accts                         111619
sec_app_revol_util                            111877
mths_since_last_record                        112950
verification_status_joint                     113553
sec_app_mths_since_last_major_derog           123245
debt_settlement_flag_date                     127946
settlement_date                               127946
settlement_amount                             127946
settlement_status                             127946
settlement_term                               127946
settlement_percentage                         127946
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
hardship_reason                               128164
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
hardship_type                                 128164
orig_projected_additional_accrued_interest    128191
url                                           128397
member_id                                     128397
desc                                          128397
id                                            128397
dtype: int64

In [321]:
# Reassign df to the same dataframe minus the dropped NaN columns.
df = df.drop(['url', 'member_id', 'desc', 'id'], axis=1)
# Verify changes.
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0       6000         6000  ...                  60.01            24.0
1      24000        24000  ...                    NaN             NaN
2      30000        30000  ...                    NaN             NaN
3       8000         8000  ...                    NaN             NaN
4      22400        22400  ...                    NaN             NaN

[5 rows x 140 columns]

In [322]:
# Look at the first 10 values of the int_rate column.
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [323]:
# Look at a specific value from the int_rate column.
df['int_rate'][3]

' 12.98%'

In [324]:
# Examine the datatype of the above value.
type(df['int_rate'][3])

str

In [0]:
# Lets start by fixing a single string.
# If we can fix one, we can usually fix all of them.
int_rate = ' 12.98%'

In [326]:
# Remove leading space.
int_rate.strip()

'12.98%'

In [327]:
# Remove '%'.
int_rate.strip('%')

' 12.98'

In [328]:
# Remove both the leading space and the '%'.
int_rate.strip().strip('%')

'12.98'

In [329]:
# "Cast" the string value to a float.
float('12.98')

12.98

In [330]:
# Put it all together.
float(int_rate.strip().strip('%'))

12.98

In [331]:
# Verify the datatype is now 'float'.
type(float(int_rate.strip().strip('%')))

float

In [0]:
# Write a function to make our solution reusable for any string that is passed
# into it.
def myfunc(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [333]:
# Test function by calling it on our example.
myfunc(int_rate)

12.98

In [334]:
# Verify correct datatype.
type(myfunc(int_rate))

float

In [0]:
# We want to apply our solution to every cell in a column. Start with an empty
# list, and then utilize a for loop.
new_list = []

In [0]:
# For loop.
for cell in df['int_rate']:
  new_list.append(myfunc(cell))

In [337]:
# Look at the first 10 values of new_list.
new_list[:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [338]:
# Convert new_list to a new column.
df['int_rate_cleaned'] = pd.Series(new_list)
# Verify changes.
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0       6000         6000  ...             24.0            14.47
1      24000        24000  ...              NaN            10.33
2      30000        30000  ...              NaN            15.02
3       8000         8000  ...              NaN            12.98
4      22400        22400  ...              NaN            16.14

[5 rows x 141 columns]

In [339]:
# Check datatype of all columns including the new column.
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
int_rate_cleaned                              float64
dtype: object

In [340]:
# Improve all of this code with the .apply method.
df['int_rate_cleaned2'] = df['int_rate'].apply(myfunc)
# Verify changes.
df.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned int_rate_cleaned2
0       6000         6000  ...             14.47             14.47
1      24000        24000  ...             10.33             10.33
2      30000        30000  ...             15.02             15.02
3       8000         8000  ...             12.98             12.98
4      22400        22400  ...             16.14             16.14

[5 rows x 142 columns]

In [341]:
# Look at the top 20 employment titles.
df['emp_title'].value_counts(dropna=False)[:20]

NaN                   20942
Teacher                2090
Manager                1773
Registered Nurse        951
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [342]:
# Determine the number of unique employment titles.
len(df['emp_title'].unique())

43890

In [343]:
# Determine the number of null employment titles.
df['emp_title'].isnull().sum()

20942

In [0]:
# We will create some examples that represent the cases that we want to clean 
# up. Notice the inconsistency with capitalization, leading spaces, and a 
# handful of NaNs.
examples = ['owner', 'Supervisor', ' Project Manager', np.nan]

In [0]:
# Function to clean and increase uniformity.
def clean_title(job_title):
  if isinstance(job_title, str):
    return job_title.title().strip()
  else:
    return 'Unknown'

In [0]:
# Utilize a for loop.
empty_list = []
for title in examples:
  empty_list.append(clean_title(title))

In [347]:
# Repeat the above using list comprehension.
[clean_title(title) for title in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [348]:
# We have a function that works as expected. Lets apply it to our dataset by 
# overwriting the original column.
df['emp_title'] = df['emp_title'].apply(clean_title)
# Verify changes.
df.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned int_rate_cleaned2
0       6000         6000  ...             14.47             14.47
1      24000        24000  ...             10.33             10.33
2      30000        30000  ...             15.02             15.02
3       8000         8000  ...             12.98             12.98
4      22400        22400  ...             16.14             16.14

[5 rows x 142 columns]

In [349]:
# Now we will look at the top 20 employment titles again to see our progress.
df['emp_title'].value_counts(ascending=False)[:20]

Unknown               20942
Teacher                2557
Manager                2395
Registered Nurse       1417
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          804
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   424
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [350]:
# Determine the number of unique employment titles.
len(df['emp_title'].unique())

34899

In [351]:
# Determine the number of null employment titles.
df['emp_title'].isnull().sum()

0

In [0]:
# We will now work with dates as a for loop.
mylist = []
for col in df.columns:
  if col.endswith('_d'):
    mylist.append(col)

In [0]:
# Now, using list comprehension.
mycols = [col for col in df.columns if col.endswith('_d')]

In [354]:
# Look at the string format of the issue_d column.
df['issue_d'][:10]

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
5    Dec-2018
6    Dec-2018
7    Dec-2018
8    Dec-2018
9    Dec-2018
Name: issue_d, dtype: object

In [355]:
# Set infer datetime format to true.
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df[mycols].head()

     issue_d last_pymnt_d next_pymnt_d last_credit_pull_d
0 2018-12-01     Apr-2019          NaN           Nov-2019
1 2018-12-01     Dec-2019     Jan-2020           Nov-2019
2 2018-12-01     Feb-2019          NaN           Nov-2019
3 2018-12-01     Dec-2019     Jan-2020           Dec-2019
4 2018-12-01     Dec-2019     Jan-2020           Nov-2019

In [356]:
# Inspect a datetime object.
df['issue_d'].iloc[0]

Timestamp('2018-12-01 00:00:00')

In [357]:
# We see the month and year have been indicated by the strings that were
# previously contained in the column, and the rest of the values have been
# inferred.
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [358]:
# We can use the .dt accessor to grab specific parts of the datetime object.
# Let's grab the year and month and create a column for 
# each.
df['year'] = df['issue_d'].dt.year
df.head()

   loan_amnt  funded_amnt  ...  int_rate_cleaned2  year
0       6000         6000  ...              14.47  2018
1      24000        24000  ...              10.33  2018
2      30000        30000  ...              15.02  2018
3       8000         8000  ...              12.98  2018
4      22400        22400  ...              16.14  2018

[5 rows x 143 columns]

In [359]:
# Now, the month.
df['month'] = df['issue_d'].dt.month
df.head()

   loan_amnt  funded_amnt  funded_amnt_inv  ... int_rate_cleaned2  year  month
0       6000         6000           6000.0  ...             14.47  2018     12
1      24000        24000          24000.0  ...             10.33  2018     12
2      30000        30000          30000.0  ...             15.02  2018     12
3       8000         8000           8000.0  ...             12.98  2018     12
4      22400        22400          22400.0  ...             16.14  2018     12

[5 rows x 144 columns]

In [360]:
# Now, let's look at their types.
df.dtypes[-2:]

year     int64
month    int64
dtype: object

In [0]:
# Now we will create a new column called days_from_earliest_credit_to_issue.
# First, we will have to convert earliest_cr_line column to date-time format.
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [362]:
# Now, we will do the date arithmetic and create a new column representing the
# days from earliest credit to issue.
df['days_from_earliest_credit_to_issue'] = df['issue_d'] - df['earliest_cr_line']
# Verify changes.
df['days_from_earliest_credit_to_issue'].head()

0   4566 days
1   8096 days
2   4232 days
3   3562 days
4   5113 days
Name: days_from_earliest_credit_to_issue, dtype: timedelta64[ns]

In [363]:
# Find the oldest credit history involved in Q4 2018.
df['days_from_earliest_credit_to_issue'].sort_values(ascending=False)

16269    25171 days
60881    25141 days
17748    24990 days
24953    23710 days
12824    23710 days
            ...
102709    1126 days
9857      1126 days
94629     1126 days
16162     1126 days
18624     1126 days
Name: days_from_earliest_credit_to_issue, Length: 128397, dtype: timedelta64[ns]

In [0]:
# Create a function to remove ' months' from the term column and convert the str
# datatype to int.
def myfunc2(cell):
  return int(cell.strip(' months'))

In [0]:
# Apply the above function to the 'term' column.
df['term'] = df['term'].apply(myfunc2)

In [366]:
# Verify changes.
df['term'].head()

0    36
1    36
2    36
3    36
4    60
Name: term, dtype: int64

In [367]:
# Examine loan_status uniques.
df['loan_status'].unique()

array(['Charged Off', 'Current', 'Fully Paid', 'Late (31-120 days)',
       'In Grace Period', 'Late (16-30 days)', 'Default'], dtype=object)

In [0]:
# Write function to replace 'Current' and 'Fully Paid' statuses with '1'.
def myfunc3(cell):
  if 'Current' in cell:
    return 1
  elif 'Fully Paid' in cell:
    return 1
  else:
    return 0

In [369]:
# Apply function.
df['loan_status_is_great'] = df['loan_status'].apply(myfunc3)
# Verify changes.
df.head(25)

    loan_amnt  ...  loan_status_is_great
0        6000  ...                     0
1       24000  ...                     1
2       30000  ...                     1
3        8000  ...                     1
4       22400  ...                     1
5        5000  ...                     1
6       27000  ...                     1
7       10000  ...                     1
8        8000  ...                     1
9       24000  ...                     1
10       4000  ...                     1
11      32075  ...                     1
12       4000  ...                     1
13       5000  ...                     1
14      10000  ...                     1
15      16000  ...                     1
16      16000  ...                     1
17      15000  ...                     1
18      13000  ...                     1
19       9600  ...                     0
20       3500  ...                     1
21      16000  ...                     1
22      30000  ...                     0
23      12000  ...                     1
24      14000  ...                     1

[25 rows x 146 columns]

In [0]:
# Convert last_pymnt_d column to date-time format.
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [0]:
# Create column with last_pymnt_d month.
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [0]:
# Create another column with last_pymnt_d year.
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [373]:
# Verify changes. NOTE: I did not address NaTs in last_pymnt_d, therefore, the
# datatype of last_pymnt_d_year and last_pymnt_d_month are float.
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0       6000         6000  ...                 4.0             2019.0
1      24000        24000  ...                12.0             2019.0
2      30000        30000  ...                 2.0             2019.0
3       8000         8000  ...                12.0             2019.0
4      22400        22400  ...                12.0             2019.0

[5 rows x 148 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

***LENDING CLUB STRETCH***

In [374]:
# Inspect a cell from revol_util.
df['revol_util'][3]

'33.3%'

In [375]:
# Inspect datatype of a cell.
type(df['revol_util'][3])

str

In [0]:
# Write a function to clean revol_util column.
def myfunc4(cell):
  if isinstance(cell, str):
    return float(cell.strip('%'))
  else:
      return 'Unknown'

In [0]:
# Apply function to revol_util column.
df['revol_util'] = df['revol_util'].apply(myfunc4)

In [378]:
# Verify datatype has changed.
type(df['revol_util'][3])

float

In [379]:
# Verify changes.
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0       6000         6000  ...                 4.0             2019.0
1      24000        24000  ...                12.0             2019.0
2      30000        30000  ...                 2.0             2019.0
3       8000         8000  ...                12.0             2019.0
4      22400        22400  ...                12.0             2019.0

[5 rows x 148 columns]

In [380]:
# Create a list of the top 20 job titles.
top_20_job_titles = df['emp_title'].value_counts(ascending=False).index[:20].tolist()
# Display list.
top_20_job_titles

['Unknown',
 'Teacher',
 'Manager',
 'Registered Nurse',
 'Driver',
 'Supervisor',
 'Truck Driver',
 'Rn',
 'Office Manager',
 'Sales',
 'General Manager',
 'Project Manager',
 'Owner',
 'Director',
 'Operations Manager',
 'Sales Manager',
 'Police Officer',
 'Nurse',
 'Technician',
 'Engineer']

In [0]:
# Create a function to return 'Other' if the job title is not contained in the 
# list of top 20 job titles.
def myfunc5(job_title):
  if job_title not in top_20_job_titles:
    return 'Other'
  else:
    return job_title

In [0]:
# Apply the function to the emp_title column.
df['emp_title'] = df['emp_title'].apply(myfunc5)

In [383]:
# Verify changes.
df['emp_title'].head(25)

0        Manager
1          Other
2          Other
3          Other
4          Other
5          Other
6     Supervisor
7        Unknown
8          Other
9          Other
10         Other
11         Other
12         Other
13         Other
14         Other
15         Other
16         Other
17       Unknown
18         Other
19         Other
20         Other
21         Other
22         Other
23         Other
24       Unknown
Name: emp_title, dtype: object

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01